{% extends 'base.html' %}


{% block title %}금융 기록{% endblock %}

{% block content %}
<div class="container-xl mt-2">
  <!--취소버튼-->
  <a href="{% url 'consumption:consumption' request.user.nickname %}"><button type="button" class="btn-close mb-5" aria-label="Close"></button></a>
  <h2>금융을 기록해보아요</h2>

  <!--금융 기록 작성-->
  <form action="{% url 'consumption:calender' %}" method="POST">

  {% csrf_token %}

<div class="input-group date my-3">
  <div class="input-group-append">
      <!--날짜-->
      <span class="input-group-text"><i class="bi bi-calendar"> 날짜입력 </i></span>
    </div>
  <input name="full_date"  type="text" value="{{today}}"class="form-control" id="datepicker" placeholder="날짜 선택">
  
</div>
<!--금액-->
<div class="input-group my-3">
  <span  class="input-group-text"> 소비금액(원) </span>
  <input name="price"  type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>
<!--구매내용-->
<div class="input-group my-3">
  <span  class="input-group-text"> 무엇을 구매하셨나요? </span>
  <input name="name"  type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
</div>
<!--정보-->
<div class="input-group my-3">
  <span  class="input-group-text"> 디테일 정보를<br>입력해주세요 </span>
  <textarea name="detail"  rol="500" class="form-control" aria-label="With textarea"></textarea>
</div>
<!--메모-->
<div class="input-group my-3">
  <span   class="input-group-text"> 메모 </span>
  <textarea name="purpose"  rol="500" class="form-control" aria-label="With textarea"></textarea>
</div>
<!--카테고리 등록-->
<div class="input-group my-3">
  <span class="input-group-text"> 카테고리 </span>
  <select name="category"  class="form-select" aria-label="Default select example">

      <option value="음식">음식</option>
      <option value="생필품">생필품</option>
      <option value="여가">여가</option>
      <option value="교통">교통</option>
      <option value="학습">학습</option>
      <option value="기타">기타</option>
      
  </select>
  </div>
  <!--공개여부-->
  <div  class="form-check my-3">
      공개<input  class="form-check-input" type="checkbox" value="True" name="share" id="flexCheckChecked" checked>
  </div>
  <div class="my-5">
  <button type="submit" class="btn btn-primary mx-auto d-block">기록하기</button>
</div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>

$(document).ready(function(){
  $('#datepicker').datepicker();
});
</script>

{% endblock %}

