<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부트스트랩 달력 예제</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
  <style>
    body {
    width: 100%;
    background-color: #f8f9fa;
    font-size: 20px;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
  </style>
</head>
<body>
  <div class="container-xl mt-5">
    <a href="{% url 'consumption:my-consumption' request.user.username %}"><button type="button" class="btn-close mb-5" aria-label="Close"></button></a>
    <h2>금융을 기록해보아요</h2>
    <form action="{% url 'consumption:calender' %}" method="POST">

    {% csrf_token %}
  
  <div class="input-group date my-3">
    <div class="input-group-append">
        
        <span class="input-group-text"><i class="bi bi-calendar"> 날짜입력 </i></span>
      </div>
    <input name="full_date"  type="text" class="form-control" id="datepicker" placeholder="날짜 선택">
    
  </div>
  <div class="input-group my-3">
    <span  class="input-group-text"> 소비금액(원) </span>
    <input name="price"  type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
  </div>

  <div class="input-group my-3">
    <span  class="input-group-text"> 무엇을 구매하셨나요? </span>
    <input name="name"  type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
  </div>

  <div class="input-group my-3">
    <span  class="input-group-text"> 디테일 정보를<br>입력해주세요 </span>
    <textarea name="detail"  rol="500" class="form-control" aria-label="With textarea"></textarea>
  </div>
  <div class="input-group my-3">
    <span   class="input-group-text"> 무엇을 위해<br>지불하셨나요? </span>
    <textarea name="purpose"  rol="500" class="form-control" aria-label="With textarea"></textarea>
  </div>

  <div class="input-group my-3">
    <span class="input-group-text"> 카테고리 </span>
    <select name="category"  class="form-select" aria-label="Default select example">

        <option value="음식">음식</option>
        <option value="생필품">생필품</option>
        <option value="여가">여가</option>
        <option value="교통">교통</option>
        <option value="학습">학습</option>
        <option value="기타">기타</option>
        
    </select>
    </div>
    <div  class="form-check my-3">
        공개<input  class="form-check-input" type="checkbox" value="True" name="share" id="flexCheckChecked" checked>
    </div>
    <button type="submit" class="btn btn-primary">Primary</button>

</div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>

  $(document).ready(function(){
    $('#datepicker').datepicker();
  });
</script>

</body>
</html>
