{% extends 'base.html' %}


{% block title %}여기에 제목을 써주세요{% endblock %}

{% block content %}
{% include 'consumption/consumption_nav.html' %}
<script>
    let nav=document.getElementById("friend");
    nav.style.fontSize="30px";
    // nav.style.color=blue;
    nav.style.color = 'steelblue';
</script>

<div class="container">
    친구 목록
    <a href="{% url 'consumption:search-friend' %}">
        <button  type="button" class="btn btn-primary m-3">아이디로 친구추가</button>
    </a>
    {% for f in following %}
    <div class="card my-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    {% if f.profile %}
                    <img style="border-radius: 100%;" width="100px" height="100px" src="{{f.profile.url}}">
                    {% else %}
                    <img style="border-radius: 100%;" width="100px" height="100px" src="/media/user/Graham.png">
                    {% endif %}
                </div>
                <div class="col-5">
                    <p>
                        {{f.username}}
                    </p>
                </div>
                <div class="col-3 my-3">
                    <a href="{% url 'consumption:my-consumption' f.username %}"><button type="button" class="btn btn-secondary">보러가기</button></a>
                </div>
            </div>
        </div>
        
      </div>
      {% empty %}
      <div></div>
      현재 팔로잉 없음    
    {% endfor %}
    
</div>
{% endblock %}