{% extends 'base.html' %}

{% block title %}금융관리{% endblock %}

{% block content %}
    {% if username != request.user.username %}
        <a style="text-decoration:none;" href="{% url 'consumption:friend' %}">
            <button type="button" class="btn-close my-2" aria-label="Close"></button>
        </a>
        <span style="color : steelblue;">{{username}}</span>님의 기록입니다
    {% else %}
        {% include 'consumption/consumption_nav.html' %}
        <script>
            let nav=document.getElementById("bank");
            nav.style.fontSize="30px";
            // nav.style.color=blue;
            nav.style.color = 'steelblue';
        </script>
    {% endif %}

    <div style="position: fixed; bottom: 0; margin-left: 700px;">
        <a href="{% url 'consumption:calender' %}">
            <button type="button" class="btn btn-lg btn-primary m-5">금융 기록하기</button>
        </a>
    </div>

    <div class="row my-4">
        <div class="col-8">
            <h1>{{ find_y }}년 {{ find_m }}월 {{ find_d }}일</h1>
        </div>
        <div class="col-4">
            {% if username == request.user.username %}
                <a href="{% url 'consumption:calender' %}">
                    <button type="button" class="btn btn-primary">기록하기</button>
                </a>
            {% endif %}
        </div>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                <div class="input-group">
                    <select name="year" class="form-select" aria-label="Default select example">
                        {% for i in year %}
                            {% if i == find_y %}
                                <option selected value="{{ i }}">{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select name="month" name="category" class="form-select" aria-label="Default select example">
                        {% for i in month %}
                            <option selected value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select name="date" class="form-select" aria-label="Default select example">
                        {% for i in date %}
                            <option selected value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <button 
                 type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>

    {% for c in category %}
        <div class="button-box mt-5">
            <div style="margin-bottom:10px; display:inline-block; border: 2px solid transparent; border-bottom: 2px solid powderblue; border-radius: 5px;" disabled>{{ c }}</div>
        </div>

        <div class="row">
            {% for r in records %}
                {% if username == request.user.username or r.share %}
                    {% if r.category == c %}
                        <div class="col-sm-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row"> 
                                        <div class="col-6">
                                            <p class="card-title"><span style="background-color: aliceblue" > 구매 : {{ r.name|truncatechars:6 }}</span></p>
                                        </div>
                                        <div class="col-6">
                                            <p class="card-subtitle mb-2 text-muted">가격 - {{ r.price |truncatechars:6}}원</p>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-8">
                                            <p class="card-text">목적 - {{ r.purpose |truncatechars:10}}</p>
                                        </div>
                                        <div class="col-4">
                                            {% if username == request.user.username %}
                                            공개 : 
                                            
                                                {% if r.share %}
                                                <i class="fas fa-check-square"></i>
                                                {% else %}
                                                <i class="fas fa-times"></i>                                                
                                                {% endif %}
                                            
                                        </div>
                                        <div class="row mt-3"> 
                                            <div class="col-9">
                                                {% if username == request.user.username %}
                                                    <a style="text-decoration: none;" href="{% url 'consumption:consumption-detail' pk=r.pk %}" class="card-link">view more</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-3">
                                                <span style="color: red;"> ♥ </span>{{ r.likes }}
                                            </div>
                                            {% else %}
                                                {% if request.user in r.like_user.all %}
                                                    <a href="{% url 'consumption:like'  r.id %}" style="color:black; text-decoration: none;"><span style="color: red;"> ♥ </span>{{ r.likes }}</a>
                                                {% else %}
                                                    <a href="{% url 'consumption:like' r.id %}" style="color:black; text-decoration: none;"><span style="color: red;"> ♡ </span>{{ r.likes }}</a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
