{% extends 'base.html' %}


{% block title %}금융관리{% endblock %}

{% block content %}

{% include 'consumption/consumption_nav.html' %}

<div style=" position: fixed; bottom: 0; margin-left: 700px;">
    <a href="{% url 'consumption:calender' %}">
        <button  type="button" class="btn btn-lg btn-primary m-5">금융 기록하기</button>
    </a>
</div>

<div class="row my-5">
    <div class="col-6">
        {{find_y}}년 {{find_m}}월 {{find_d}}일
    </div>
    <div class="col-6">
        
    </div>
</div>
<form action="" method="POST">
    {% csrf_token %}
<div class="row  mt-5">
    <div class="col-3">
        <div class="input-group my-3">
            <select name="year" class="form-select" aria-label="Default select example">
        
                {% for i in year %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                
            </select>
            <span class="input-group-text"> 년 </span>
            </div>
    </div>
    <div class="col-3">
        <div class="input-group my-3">
            
            <select name="month" name="category"  class="form-select" aria-label="Default select example">
        
            {% for i in month %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
            
            
            
                
            </select>
            <span  class="input-group-text"> 월 </span>
            </div>
    </div>
    <div class="col-3">
        <div class="input-group my-3">
            
            <select name="date"  class="form-select" aria-label="Default select example">
        
                {% for i in date %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                
            </select>
            <span class="input-group-text"> 일 </span>
            </div>
    </div>
    <div class="col-3">
        <button type="submit" class="btn btn-lg btn-secondary">검색</button>
    </div>
</div>
</form>

{% for c in category %}
<button type="button" style="background-color:cadetblue; margin-bottom:10px" class="btn btn-secondary btn-lg mt-5" disabled>{{c}}</button>

<div class="row">
    
        {% for r in records %}
        {% if username == request.user.username or r.share %}
        {% if r.category == c %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row"> 
                    <div class="col-6">
                        <p class="card-title">{{r.name}}</p>
                    </div>
                    <div class="col-6">
                        <p class="card-subtitle mb-2 text-muted">{{r.price}}원</p>
                    </div>
                </div>
              <h3 class="card-text">{{r.purpose}}</h3>
              <div class="row"> 
                <div class="col-10">
                    {% if username == request.user.username %}
                    <a style="text-decoration: none;" href="{% url 'consumption:consumption-detail' pk=r.pk %}" class="card-link">자세히 보기</a>
                    {% endif %}
                </div>
                <div class="col-2">
                    <div class="container">{{r.likes}}
                    {% if username == request.user.username %}
                        {% if r.share %}
                            <button type="button" class="btn btn-info" disabled></button>
                        {% else %}
                            <button type="button" class="btn btn-dark" disabled></button>
                        {% endif %}
                    {% else %}
                    {% if request.user in r.like_user.all %}
                        <a href="{% url 'consumption:like'  r.id %}" style="font-size:40px; text-decoration: none;">♥</a>
                        {% else %}
                        <a href="{% url 'consumption:like' r.id %}" style="font-size:40px; text-decoration: none;">♡</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            </div>
            </div>
          </div>
    </div>
    {% endif %}
    {% endif %}
{% endfor %}

</div>
{% endfor %}
{% endblock %}

