{% extends 'base.html' %}


{% block title %}여기에 제목을 써주세요{% endblock %}

{% block content %}
<div class="container">
<a href="{% url 'consumption:friend' %}"><button type="button" class="btn-close mb-2" aria-label="Close"></button></a>


<div class="container">
    <form method="POST" actin="" class="d-flex">
        {% csrf_token %}
        <input  name="search" class="form-control me-2" type="search" placeholder="아이디 혹은 닉네임을 검색하세요" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
</div>

<div>
    {% for u in users %}
    <div class="card my-5">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    {% if u.profile %}
                    <img style="border-radius: 100%;" width="100px" height="100px" src="{{u.profile.url}}">
                    {% else %}
                    <img style="border-radius: 100%;" width="100px" height="100px" src="/media/user/Graham.png">
                    {% endif %}
                </div>
                <div class="col-5">
                    <p style="font-size:15px">
                        NAME : {{u.nickname}}<br>
                        ID : {{u.username}}
                    </p>
                </div>
                <div class="col-3">
                    {% if u.nickname in following %}
                    <a href="{% url 'consumption:unfollow' u.nickname %}"><button type="button" class="btn btn-secondary my-3">un<br>follow</button></a>
                    {% elif request.user == u %}
                    <button type="button" class="btn btn-lg btn-secondary">본인</button>
                    {% else %}
                    <a href="{% url 'consumption:follow' u.nickname %}"><button type="button" class="btn  btn-secondary my-4">follow</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
            
    {% endfor %}
    
</div>
</div>
{% endblock %}