<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>부트스트랩 차트그리기</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
    4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <!-- 차트 링크 -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <style>
  body {
    width:1000px;
    margin: 0 auto; 
background-color: #f8f9fa;

}
</style>
</head>

<body>

    <div id="common_category" style="display:none">
        {{c}}
        {% for c in common_category %}
            {{c}},
        {% endfor %}
    </div>
    <div id="statistic" style="display:none">
        {{value}}
    </div>


    <div style=" position: fixed; bottom: 0; margin-left: 700px;">
        <a href="{% url 'consumption:calender' %}">
            <button  type="button" class="btn btn-lg btn-primary m-5">금융 기록하기</button>
        </a>
    </div>
    
    {% include 'nav.html' %}
    {% include 'consumption/consumption_nav.html' %}
    <form action="" method="POST">
        {% csrf_token %}
    <div class="container row  mt-5">
        <div class="col-6">
            <h1>{{find_y}}년 {{find_m}}월의 통계</h1>
        </div>
        <div class="col-2">
            <div class="input-group my-3">
                <select name="year" class="form-select" aria-label="Default select example">
                    {% for i in year %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                    
                </select>
                <span class="input-group-text"> 년 </span>
                </div>
        </div>
        <div class="col-2">
            <div class="input-group my-3">
                
                <select name="month" name="category"  class="form-select" aria-label="Default select example">
            
                {% for i in month %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}

                    
                </select>
                <span  class="input-group-text"> 월 </span>
                </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-lg btn-secondary">검색</button>
        </div>
    </div>
    </form>
<div class="container" style="text-align: center;">
    <div class="container my-5">
        <h3>가장 많이 소비한 카테고리 : 
            {% for c in common_category %}
                <b>{{c}}</b>
            {% empty %}
                소비 내역이 없음
            {% endfor %}
        </h3>
    </div>

    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>통계</h1>
            </div>
        </div>
            <div class="col-md-4 mx-auto py-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="chDonut3" width="400" height="400"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h2 class="my-5"> 총 사용한 금액 {{total_consumed}}</h2>
            <h2> <b>음식</b>에 사용한 금액 {{food_c}}</h2>
            <h2> <b>생필품</b>에  사용한 금액 {{life_c}}</h2>
            <h2> <b>여가</b>에  사용한 금액 {{leisure_c}}</h2>
            <h2> <b>교통</b>에  사용한 금액 {{transportation_c}}</h2>
            <h2> <b>학습</b>에  사용한 금액 {{study_c}}</h2>
            <h2> <b>기타</b>에  사용한 금액 {{etc_c}}</h2>
        </div>
      </div>
    </div>
  <!-- 부트스트랩 -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- 차트 -->
  <script>

var popular = document.getElementById('common_category').innerHTML.trim().split(',');
var statistic = document.getElementById('statistic').innerHTML.trim().split(',');
console.log(popular)
console.log(statistic)
var colors = ['red','skyblue','yellowgreen','orange','purple','#6c757d'];

/* 3 donut charts */
var donutOptions = {
  cutoutPercentage: 40, //도넛두께 : 값이 클수록 얇아짐
  legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
};


// donut 3
var chDonutData3 = {
    labels: ["음식","생필품","여가","교통","학습","기타"],
    datasets: [
      {
        backgroundColor: colors.slice(0,6),
        borderWidth: 0,
        data: statistic
      }
    ]
};
var chDonut3 = document.getElementById("chDonut3");
  if (chDonut3) {
    new Chart(chDonut3, {
      type: 'pie',
      data: chDonutData3,
      options: donutOptions
  });
} 
  </script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
          HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> 
          
</body>
</html>
