{% extends 'base.html' %}
{% block title %}같이 밥 먹어요{% endblock %}

{% block content %}
<style>
    .button-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .button-container button {
        margin-top: 5px; /* 수정하기 버튼과 삭제 버튼 간격 조절 */
    }

    .button-container .btn-primary {
        padding: 8px 15px; /* 수정하기 버튼 크기 조절 */
    }

</style>
<a href="{% url 'community:delivery' %}"><button type="button" class="btn-close m-2" aria-label="Close"></button></a>
<div class="container">
  <div class="card mx-auto mt-5" style="width: 18rem;">
    {% if post.head_image %}
      <img src="{{ post.head_image.url }}" class="card-img-top">
    {% else %}
      <img src=".." class="card-img-top">
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text" style="font-size:10px">{{ post.created_at }}</p>
      <p class="card-text" style="font-size:10px">Category: {{ post.category_delivery }}</p>
    </div>
  </div>
</div>
<hr>

<!--Comment-->
<div>
  <h3>Comment</h3>
  <br>
  <div>
  {%  for comment in comments_delivery %}
       <p>
           {{ comment.text }}-{{ comment.author }}-{{ comment.created_at }}
           {% if comment.author == user %}
           <a href="{% url 'community:delete-deliverycomment' pk=comment.pk %}">삭제</a>
           {% endif %}
       </p>
  {% endfor %}
  </div>

  <div>
  <form method="post" action="{% url 'community:comment-delivery' pk=post.pk %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">댓글 남기기</button>
  </form>
  </div>
</div>


<!--Delete Post-->
<div class="button-container">
<div>
  {% if post.author == user %}
    <form method="post" id="delete-post-form" action="{% url 'community:delete-delivery' pk=post.pk %}">
        {% csrf_token %}
        <button type="button" class="btn btn-danger" onclick="confirmDelete()">게시글 삭제</button>
    </form>
  {% endif %}
</div>

<script>
  function confirmDelete() {
    var result = confirm("이 글을 삭제하시겠습니까?");

    if (result) {
      document.getElementById('delete-post-form').submit();
      console.log("완료되었습니다.");
    } else {
      console.log("취소되었습니다");
    }
  }
</script>
<!--Edit Post-->
<div>
    {% if post.author == user %}
    <a href="{% url 'community:edit-delivery' pk=post.pk %}" class="btn btn-primary text-white">수정하기</a>
    <!--
        <a href="{% url 'community:edit-delivery' pk=post.pk %}" class="btn btn-lg btn-primary">
            <button type="button" class="text-white">수정하기</button>
        </a>
        -->
    {% endif %}
</div>
</div>

{% endblock %}

