<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
    body {
        width: 100%;
        background-color: #f8f9fa;
        font-size: 20px;
    }

    .container {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
</style>

</head>
<body>
{% block title %}같이 구매해요{% endblock %}

{% block content %}
<a href="{% url 'community:delivery' %}"><button type="button" class="btn btn-lg btn-primary" >생필품</button></a>
<a href="{% url 'community:ott' %}"><button type="button" class="btn btn-lg btn-primary" >OTT</button></a>
<a href="{% url 'community:delivery' %}"><button type="button" class="btn btn-lg btn-primary" >인강</button></a>
<div class="div-container"></div>
<div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">
                <h1>공동구매</h1>

            {% if post_list.exists %}
                {% for p in post_list %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random image">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title"> {{ p.title }}</h2>
                        <p class="card-text">{{ p.content | truncatewords:10 }}</p>
                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ p.create_at }} by
                        <a href="#"> 개발예정 </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <h1>게시물이 없습니다.</h1>
        {% endif %}

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-4 col-lg-3">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form action="{% url 'community:search' %}" method="get" class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." name="q">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Go!</button>
                            </span>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <!---
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                --->
            </div>
        </div>
    </div>
<a href="{% url 'community:create-post' %}" class="btn btn-primary">글쓰기</a>


{% endblock %}

{% for p in posts %}
    <hr/>
    <h2>{{ p.title }}</h2>
    <h4>{{ p.create_at }}</h4>
    <p>{{ p.content }}</p>
{% endfor %}

</body>
</html>