{% extends 'base.html' %}
{% block title %}같이 밥 먹어요{% endblock %}

{% block content %}

<div class="container">
  <div class="card mx-auto mt-5" style="width: 18rem;">
    {% if post.head_image %}
      <img src="{{ post.head_image.url }}" class="card-img-top">
    {% else %}
      <img src=".." class="card-img-top">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content }}</p>
      <p class="card-text" style="font-size:10px">{{ post.created_at }}</p>
    </div>
  </div>
</div>
<hr>

<!--Comment-->
<div>
  <h3>Comment</h3>
  <br>
  <div>
  {%  for comment in comments %}
       <p>{{ comment.text }}-{{ comment.author }}-{{ comment.created_at }}</p>
  {% endfor %}
  </div>

  <div>
  <form method="post" action="{% url 'community:comment' pk=post.pk %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">댓글 남기기</button>
  </form>
  </div>
</div>

{% endblock %}

