{% extends 'base.html' %}

{% block title %}같이 밥 먹어요{% endblock %}

{% block content %}
<div>
<a href="{% url 'community:food' %}"><button type="button" class="btn btn-lg btn-primary" >같이 배달시킬 사람</button></a>
<a href="{% url 'community:food' %}"><button type="button" class="btn btn-lg btn-primary" >혼밥 싫어</button></a>
</div>

<div class="container">
  <div class="row justify-content-center">
    {% for post in posts %}
        <div class="card mx-3 mb-3" style="width: 18rem;">
          {% if post.head_image %}
            <img src="{{ post.head_image.url }}" class="card-img-top">
          {% else %}
            <img src=".." class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <a href="{% url 'community:food-detail' pk=post.pk %}" class="btn btn-primary">Read More</a>
          </div>
        </div>
    {% endfor %}
  </div>

  <div>
      <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
          </li>
      </ul>
  </div>
</div>

<div id="write-button" style="position: fixed; bottom: 20px; right: 20px;">
  <a class="my-5" style="text-align:center;" href="{% url 'community:create-post' %}">
    <button type="submit" class="btn btn-lg btn-primary">글쓰기</button>
  </a>
</div>
</div>
{% endblock %}
