{% extends 'base.html' %}


{% block title %}구매자 채팅방{% endblock %}

{% block content %}
<a href="{% url 'accounts:mypage' %}"><button type="button" class="btn-close m-2" aria-label="Close"></button></a>

{% for c in chat_room %}

<div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'trade:chating' c.post.id  c.id %}">
    <div style="color:black" class="card-body">
        사려는 물건-{{c.post.title}}<br>
        판매자 - {{c.seller.nickname}}</a>
    </div>
    <a style="text-decoration: none" href="{% url 'accounts:leave-chat-room' c.id %}">
        <button style="color:black" type="button" class="btn btn-outline-primary m-3">채팅방 나가기</button>
    </a>
  </div>
  

{% endfor %}



{% endblock %}