{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}로그인{% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div class="input-group my-3">
            <span  class="input-group-text"> 아이디 : </span>
            {{ form.username|add_class:"form-control" }}
            {% if form.username.errors %}
                <p class="error">{{ form.username.errors.as_text }}</p>
            {% endif %}
        </div>

        <div class="input-group my-3">
            <span  class="input-group-text"> 비밀번호 :  </span>
            {{ form.password|add_class:"form-control" }}
            {% if form.password.errors %}
                <p class="error">{{ form.password.errors.as_text }}</p>
            {% endif %}
          </div>
    </div>
    <div class="my-5" style="text-align: center;">
        <button type="submit" class="btn btn-lg btn-primary">로그인</button>
    </div>
    <div style="text-align: center;">
        계정이 없으신가요?<br>
        <a href="{% url 'accounts:signup' %}">회원가입</a>하러가기
    </div>
</form>
{% endblock %}