{% extends 'base.html' %}


{% block title %}마이페이지{% endblock %}

{% block content %}
<h2  class="mt-3"><span style="background-color:aliceblue" >회원정보</span></h2>
<div class="card mb-3" >
    <a style="text-decoration: none" href="{% url 'accounts:logout' %}">
    <div style="color:black" class="card-body">
      로그아웃
    </div>
</a>
</div>
<div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'accounts:update-user-info' %}">
    <div style="color:black" class="card-body">
      회원정보 수정
    </div>
</a>
  </div>
  <h2 class="mt-3"><span style="background-color:aliceblue" >중고거래</span></h2>
  <div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'trade:liked_posts' %}">
    <div style="color:black" class="card-body">
      내가 찜한 중고상품
    </div>
</a>
  </div>

  <div class="card mb-3">
    <a style="text-decoration: none" href="">
    <div style="color:black" class="card-body">
      중고상품 리뷰 남기기
    </div>
  </a>
  </div>
  
  <div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'accounts:my-trade' %}">
    <div style="color:black" class="card-body">
      내가 올린 중고상품
    </div>
  </a>
  </div>

  <div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'accounts:review-list' %}">
    <div style="color:black" class="card-body">
      작성할 수 있는 리뷰
    </div>
  </a>
  </div>
  
  <div class="card mb-3">
    <a style="text-decoration: none" href="{% url 'accounts:proceeding-chat' %}">
    <div style="color:black" class="card-body">
      요청한 채팅보기
    </div>
  </a>
  </div>

  <h2 class="mt-3"><span style="background-color:aliceblue" >제휴</span></h2>
<div class="card mb-3">
  <a style="text-decoration: none" href="{% url 'accounts:map-scrap' %}">
  <div style="color:black" class="card-body">
    스크랩한 제휴 정보
  </div>
</a>
</div>
{% for r in reviews %}
{{r.title}}
{% endfor %}
{% endblock %}
