{% extends 'base.html' %}


{% block title %}여기에 제목을 써주세요{% endblock %}

{% block content %}
<a href="{% url 'accounts:mypage' %}"><button type="button" class="btn-close m-2" aria-label="Close"></button></a>

{% for p in posts %}

<div class="card mb-1">
    <div style="color:black" class="card-body">
        <a style="text-decoration: none" href="{% url 'trade:trade_detail' p.id %}">상품-{{p.title}}<br>
        판매자 - {{p.author.nickname}}</a>
    </div>
    {% for review in p.post_review.all %}
    {% if review.reviewer.id == request.user.id %}
    <button type="button" class="btn btn-outline-primary m-3">이미 작성함</button>
{% endif %}
  {% endfor %}
  
 
  </div>
  

{% endfor %}

{% endblock %}