{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}

{% block content %}

<div class="container">

  <div class="card mx-auto mt-3" style="width: 18rem;">
    <a href="{% url 'accounts:my-trade' %}"><button type="button" class="btn-close m-2" aria-label="Close"></button></a>

    {% if post.head_image %}
      <img src="{{ post.head_image.url }}" height="200px" class="card-img-top">
  
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
      <p class="card-text">Price: {{ post.price }}</p>

      <a href="{% url 'trade:edit_post' pk=post.pk %}" class="btn btn-warning mb-2">글 수정</a>

      <!-- 삭제 버튼 -->
      <form method="post" action="{% url 'trade:delete_post' pk=post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mb-2">글 삭제</button>
      </form>
        <button class=" btn btn-primary">
          <a style="color:white; text-decoration: none;" href="{% url 'accounts:seller-chat' post.id  %}">
            열린 채팅방 보기
          </a>
        </button>
 

    </div>
  </div>
</div>

{% endblock %}