{% extends 'base.html' %}

{% block title %}Trade{% endblock %}

{% block content %}

<!-- 중고거래 물품 업로드 카드 -->
{% for post in posts.all%}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
      </div>
    </div>
  </div>
</div>
{%endfor%}

<a class="my-5" style="text-align:center;" href="{% url 'trade:new' %}">
  <button type="submit" class="btn btn-lg btn-primary">글쓰기</button>
</a>

{% endblock %}

