{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}

{% block content %}

<div class="container">
  <div class="card mx-auto mt-5" style="width: 18rem;">
    {% if post.head_image %}
      <img src="{{ post.head_image.url }}" class="card-img-top">
    {% else %}
      <img src=".." class="card-img-top">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
      <p class="card-text">Price: {{ post.price }}</p>

    <!-- 수정 버튼 -->
      {% if request.user == post.author %}
        <a href="{% url 'trade:edit_post' pk=post.pk %}" class="btn btn-warning">글 수정</a>

      <!-- 삭제 버튼 -->
        <form method="post" action="{% url 'trade:delete_post' pk=post.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">글 삭제</button>
        </form>
        <button>
          <a href="{% url 'trade:seller-chat' %}">
            내 채팅방 보기
          </a>
        </button>
      {% endif %}


      <!-- 기타 필요한 정보 추가 -->
      <a href="{% url 'trade:go-chat' pk=post.pk %}" class="btn btn-primary">채팅하기</a>

    </div>
  </div>
</div>

{% endblock %}
