{% extends 'base.html' %}

{% block title %}Trade{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <!-- 중고거래 물품 업로드 카드 -->
    {% for post in posts %}
        <div class="card mx-3 mb-3" style="width: 18rem;">

          <!-- 만약 글쓴이가 후기 작성자를 정했다면 [판매완료]가 뜨도록 -->
          {% if post.allowed_reviewer %}
          <br><h3><strong>[판매완료]</strong></h3><br>
          {% endif %}

          {% if post.head_image %}
            <img src="{{ post.head_image.url }}" class="card-img-top">

          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <a href="{% url 'trade:trade_detail' pk=post.pk %}" class="btn btn-primary">view more</a>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

<!--글쓰기 버튼 고정-->
<div id="write-button" style="position: fixed; bottom: 20px; right: 20px;">
  <a class="my-5" style="text-align:center;" href="{% url 'trade:create' %}">
    <button type="submit" class="btn btn-lg btn-primary">글쓰기</button>
  </a>
</div>
</div>

{% endblock %}

