<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a style="font-size:30px" class="nav-link" href="{% url 'main' %}">알찬소 화이팅</a>
        <button style="font-size: 30px;" class="navbar-toggler mt-5 d-inline" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-5" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!--로그인-->
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                </li>
                 <!-- 커뮤니티 -->
                 <li class="nav-item">
                    <a class="nav-link" href="">Community</a>
                </li>
                <!--금융관리-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consumption:my-consumption' request.user.username %}">금융관리</a>
                </li>
                <!--중고거래-->
                <li class="nav-item">
                    <a class="nav-link" href="">Trade</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                </li>
                {% endif %}
                <!--지도-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'map:map-benefit' %}">Benefit</a>
                </li>

                <!--얜 어디다 쓰지-->
               <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>-->
            </ul>


            <!--<ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                </li>
            </ul>-->
        </div>
    </div>
</nav>


    <!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i class="fab fa-google"></i>&nbsp&nbsp Log in with Google</button>
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm "><i class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>